$color-teal-50: #E0F2F1;
$color-teal-100: #B2DFDB;
$color-teal-200: #80CBC4;
$color-teal-300: #4DB6AC;
$color-teal-400: #26A69A;
$color-teal-500: #009688;
$color-teal-600: #00897B;
$color-teal-700: #00796B;
$color-teal-800: #00695C;
$color-teal-900: #004D40;

$colorTeal50: $color-teal-50;
$colorTeal100: $color-teal-100;
$colorTeal200: $color-teal-200;
$colorTeal300: $color-teal-300;
$colorTeal400: $color-teal-400;
$colorTeal500: $color-teal-500;
$colorTeal600: $color-teal-600;
$colorTeal700: $color-teal-700;
$colorTeal800: $color-teal-800;
$colorTeal900: $color-teal-900;