$color-orange-50: #FFF3E0;
$color-orange-100: #FFE0B2;
$color-orange-200: #FFCC80;
$color-orange-300: #FFB74D;
$color-orange-400: #FFA726;
$color-orange-500: #FF9800;
$color-orange-600: #FB8C00;
$color-orange-700: #F57C00;
$color-orange-800: #EF6C00;
$color-orange-900: #E65100;

$colorOrange50: $color-orange-50;
$colorOrange100: $color-orange-100;
$colorOrange200: $color-orange-200;
$colorOrange300: $color-orange-300;
$colorOrange400: $color-orange-400;
$colorOrange500: $color-orange-500;
$colorOrange600: $color-orange-600;
$colorOrange700: $color-orange-700;
$colorOrange800: $color-orange-800;
$colorOrange900: $color-orange-900;