$color-red-50: #FFEBEE;
$color-red-100: #FFCDD2;
$color-red-200: #EF9A9A;
$color-red-300: #E57373;
$color-red-400: #EF5350;
$color-red-500: #F44336;
$color-red-600: #E53935;
$color-red-700: #D32F2F;
$color-red-800: #C62828;
$color-red-900: #B71C1C;

$colorRed50: $color-red-50;
$colorRed100: $color-red-100;
$colorRed200: $color-red-200;
$colorRed300: $color-red-300;
$colorRed400: $color-red-400;
$colorRed500: $color-red-500;
$colorRed600: $color-red-600;
$colorRed700: $color-red-700;
$colorRed800: $color-red-800;
$colorRed900: $color-red-900;