$color-deep-purple-50: #EDE7F6;
$color-deep-purple-100: #D1C4E9;
$color-deep-purple-200: #B39DDB;
$color-deep-purple-300: #9575CD;
$color-deep-purple-400: #7E57C2;
$color-deep-purple-500: #673AB7;
$color-deep-purple-600: #5E35B1;
$color-deep-purple-700: #512DA8;
$color-deep-purple-800: #4527A0;
$color-deep-purple-900: #311B92;

$colorDeepPurple50: $color-deep-purple-50;
$colorDeepPurple100: $color-deep-purple-100;
$colorDeepPurple200: $color-deep-purple-200;
$colorDeepPurple300: $color-deep-purple-300;
$colorDeepPurple400: $color-deep-purple-400;
$colorDeepPurple500: $color-deep-purple-500;
$colorDeepPurple600: $color-deep-purple-600;
$colorDeepPurple700: $color-deep-purple-700;
$colorDeepPurple800: $color-deep-purple-800;
$colorDeepPurple900: $color-deep-purple-900;