$color-light-blue-50: #E1F5FE;
$color-light-blue-100: #B3E5FC;
$color-light-blue-200: #81D4FA;
$color-light-blue-300: #4FC3F7;
$color-light-blue-400: #29B6F6;
$color-light-blue-500: #03A9F4;
$color-light-blue-600: #039BE5;
$color-light-blue-700: #0288D1;
$color-light-blue-800: #0277BD;
$color-light-blue-900: #01579B;

$colorLightBlue50: $color-light-blue-50;
$colorLightBlue100: $color-light-blue-100;
$colorLightBlue200: $color-light-blue-200;
$colorLightBlue300: $color-light-blue-300;
$colorLightBlue400: $color-light-blue-400;
$colorLightBlue500: $color-light-blue-500;
$colorLightBlue600: $color-light-blue-600;
$colorLightBlue700: $color-light-blue-700;
$colorLightBlue800: $color-light-blue-800;
$colorLightBlue900: $color-light-blue-900;