$color-amber-50: #FFF8E1;
$color-amber-100: #FFECB3;
$color-amber-200: #FFE082;
$color-amber-300: #FFD54F;
$color-amber-400: #FFCA28;
$color-amber-500: #FFC107;
$color-amber-600: #FFB300;
$color-amber-700: #FFA000;
$color-amber-800: #FF8F00;
$color-amber-900: #FF6F00;

$colorAmber50: $color-amber-50;
$colorAmber100: $color-amber-100;
$colorAmber200: $color-amber-200;
$colorAmber300: $color-amber-300;
$colorAmber400: $color-amber-400;
$colorAmber500: $color-amber-500;
$colorAmber600: $color-amber-600;
$colorAmber700: $color-amber-700;
$colorAmber800: $color-amber-800;
$colorAmber900: $color-amber-900;