$color-yellow-50: #FFFDE7;
$color-yellow-100: #FFF9C4;
$color-yellow-200: #FFF59D;
$color-yellow-300: #FFF176;
$color-yellow-400: #FFEE58;
$color-yellow-500: #FFEB3B;
$color-yellow-600: #FDD835;
$color-yellow-700: #FBC02D;
$color-yellow-800: #F9A825;
$color-yellow-900: #F57F17;

$colorYellow50: $color-yellow-50;
$colorYellow100: $color-yellow-100;
$colorYellow200: $color-yellow-200;
$colorYellow300: $color-yellow-300;
$colorYellow400: $color-yellow-400;
$colorYellow500: $color-yellow-500;
$colorYellow600: $color-yellow-600;
$colorYellow700: $color-yellow-700;
$colorYellow800: $color-yellow-800;
$colorYellow900: $color-yellow-900;