$color-lime-50: #F9FBE7;
$color-lime-100: #F0F4C3;
$color-lime-200: #E6EE9C;
$color-lime-300: #DCE775;
$color-lime-400: #D4E157;
$color-lime-500: #CDDC39;
$color-lime-600: #C0CA33;
$color-lime-700: #AFB42B;
$color-lime-800: #9E9D24;
$color-lime-900: #827717;

$colorLime50: $color-lime-50;
$colorLime100: $color-lime-100;
$colorLime200: $color-lime-200;
$colorLime300: $color-lime-300;
$colorLime400: $color-lime-400;
$colorLime500: $color-lime-500;
$colorLime600: $color-lime-600;
$colorLime700: $color-lime-700;
$colorLime800: $color-lime-800;
$colorLime900: $color-lime-900;