$color-deep-orange-50: #FBE9E7;
$color-deep-orange-100: #FFCCBC;
$color-deep-orange-200: #FFAB91;
$color-deep-orange-300: #FF8A65;
$color-deep-orange-400: #FF7043;
$color-deep-orange-500: #FF5722;
$color-deep-orange-600: #F4511E;
$color-deep-orange-700: #E64A19;
$color-deep-orange-800: #D84315;
$color-deep-orange-900: #BF360C;

$colorDeepOrange50: $color-deep-orange-50;
$colorDeepOrange100: $color-deep-orange-100;
$colorDeepOrange200: $color-deep-orange-200;
$colorDeepOrange300: $color-deep-orange-300;
$colorDeepOrange400: $color-deep-orange-400;
$colorDeepOrange500: $color-deep-orange-500;
$colorDeepOrange600: $color-deep-orange-600;
$colorDeepOrange700: $color-deep-orange-700;
$colorDeepOrange800: $color-deep-orange-800;
$colorDeepOrange900: $color-deep-orange-900;